<table>
    <tr>
        <th>url</th>
        <th>alexa rank</th>
        <th>category</th>
    </tr>
    {% for website in object_list %}
    <tr>
        <th><a href="http://127.0.0.1:8000/website/details/{{website.id}}">{{website.url}}</a></th>
        <th>{{website.alexa_rank}}</th>
        <th>{{website.category}}</th>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<form action="" method="get">
    <p>Filter:
        <select name="category">
            <option value="">---</option>
            {% for category in categories%}
            <option value={{ category }}>{{ category }}</option>
            {% endfor %}
        </select>
    </p>

    <p>order by: <select name="ordering">
            {% for field in website_fields%}
            <option value={{ field }}>{{ field }}</option>
            {% endfor %}
        </select></p>
    </p>
    <p><input type="submit" name="submit" value="submit" /></p>
</form>